*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Gradle
/local.properties
/.gradle/

# Build Output
/build
/captures
.externalNativeBuild

.gradle
.idea*
/.idea
gradlew
gradlew.bat

/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

*apk
*build
.local.properties
